  <div class="wrapper-header" [ngClass]="{darkTheme: switchThemeService.isDarkTheme}">
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['']"><div class="nav-item">Main</div></a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/FavoritesPage']"
          ><div class="nav-item">Favorites</div></a
        >
      </li>
    </ul>
    <label class="switch">
      <input type="checkbox" class="switch-slider" (click)="switchThemeService.switchMode()">
      <span class="slider round"></span>
    </label>
  </div> 