div {
  background-image: url('../../../assets/404.png');
  background-repeat:no-repeat;
  min-height: calc(100vh - 70px);
  background-color: #262626;
  background-size: contain;
  background-position: center;
}